<template>
    <require from="controls/company-info"></require>
    <require from="controls/widget"></require>
    <require from="controls/test-screen"></require>
    <require from="controls/inner-test-item"></require>

    <widget header="Widget header" body="My custom body" start.delegate="onStart()" stop.trigger="onStop()">
        widget content ..
    </widget>

    <company-info repeat.for="company of companies" name.bind="company.name" acn.bind="company.acn" show-message.call="msg(company.acn)"></company-info>

    <test-screen>
        <inner-test-item>1</inner-test-item>
        <inner-test-item>2</inner-test-item>
        <inner-test-item>3</inner-test-item>
    </test-screen>

    <!--TODO: write component to handle markup-->
    <require from="controls/robot"></require>
    <require from="controls/robot-head"></require>
    <require from="controls/robot-body"></require>
    
    <robot>
        <robot-head height="75" width="87"></robot-head>
        <robot-body height="37" width="53"></robot-body>
    </robot>

</template>