﻿<template>
    <table>
        <tr>
            <td>Title</td>
            <td>Year</td>
        </tr>
        <tr repeat.for="movie of movies">
            <td>${movie.title}</td>
            <td>${movie.year}</td>
        </tr>
    </table>

    <compose view-model="currentDate"></compose>
</template>