﻿<template>
    <div>${message}</div>
    <form role="form" validate.bind="validation">
        <input type="text" value.bind="message" />
        <button click.trigger="changeMessage()" disabled.bind="!validation.result.isValid">Change message</button>
    </form>
    <compose view-model="currentDate"></compose>
</template>